@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
text-transform: capitalize;
text-decoration: none;
list-style: none;
 font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

header {
    background-image:url(nugess.jpeg) ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;

}

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: black;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
}

.menu .navbar ul li a:hover {
    color: white;
}

#menu {
    display: none;

}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.content {
    padding: 100px 100px 0px 0px;
}

.content h1 {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
      font-family: 'Poppins', sans-serif;
    font-family: 'Smooch Sans', sans-serif;;

}

.content p {
    margin-top: 45px;
    color: black;
    text-transform:none;
    font-size: 30PX;
    line-height: 37px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Smooch Sans', sans-serif;;
}

.btn-1 {
    display: inline-block;
    background-color: black;
    border: 1px solid white;
    margin: 35px 10px 0px 0px ;
    padding: 15px 25px ;
    color: white;
    border-radius: 25px;
}

.btn-1:hover {
    background-color: rgb(153, 152, 152);
}

.services {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service {
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(135,141,214, 0.3) ;
}

.service h3 {
    font-size: 20px;
    color:  black;
    margin-bottom: 10px;
}

.service p {
    color: gray;
    font-size: 16px;
}

.porfolios {
    padding: 80px  0px;
    text-align: center;
    color: black;

}

.porfolios h2 {
    font-size: 55px;
}

.porfolio{
    display: flex;
    align-items: center;
}

.porfolio img {
    width: 350px;
}

.porfolio-1 {
    text-align: left;
    margin-left: 100px;
}

.porfolio-1 h3 {
    font-size: 35px;
    margin-bottom: 15px;
}

.porfolio-1 p {
    font-size: 18px;
    color: grey;
    margin-bottom: 25px;
}

.porfolio-2 {
    text-align: left;
    margin-right: 100px;

}

.porfolio-2 h3 {
    font-size: 35px;
    margin-bottom: 25px;
}

.porfolio-2 p {
    font-size: 18px;
    color: gray;
    margin-bottom: 25px;
}

.btn-2 {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: red;
    color: black;
}

.btn-2:hover {
    background-color: white;
}

footer {
    padding: 200px 0px 30px 0px;
    
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-content {
    display: flex;
}

.info-price{
    padding: 35px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 25px black rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px 0px;
    color: black;
}

.info-price h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    color: #0eaef3 !important;
    margin-bottom: 10px;

}

.info-price p {
    font-size: 16px;
    color: #525254;

}

.info-txt {
    margin-left: 35px;
    color: white;
}

hr {
    margin: 45px 0px;
    border: 0.5px solid black;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    color: black;
}
 .enlaces h3 {
    font-size: 25px;
}

.enlace {
    display: flex;
}

.enlace li a {
    display: block;
    margin: 20px;
    color: black;
}

.enlace li a:hover {
    color: aqua;
}

@media(max-width:991px){

    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-image: url(red.jpg);
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;

    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    header {
        height: 0vh;
        padding: 400px 0px;
        background-position: center center;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px 30px;
    }

    .content{
        padding: 0px;
    }

    .content h1 {
        margin-top: 100px;
        font-size: 45px;
    }

    .content p {
        margin-top: 0px;
    }

    .header-content img {
        width: 150px;
    }

    .services {
        flex-direction: column;
        padding: 50px 30px 0px 30px;
    }

    .service {
        margin-bottom: 50px;
    }
     
    .porfolios {
        padding: 0px 30px 30px 30px;

    }

    .porfolios h2 {
     margin-bottom: 15px;
    }

    .porfolio {
        flex-direction: column;
    }

    .porfolio-1 {
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    .porfolio-2 {
        text-align: center;
        margin: 0px 0px 25px 0px;
    }

    footer {
        padding: 0px 30px 30px 30px;
        
    }

    .info-content {
        flex-direction: column;
        text-align: center;

    }

    .info-price {
       margin: 0px 0px 0px 20px ;
    }
    
    .info-txt {
        margin: 0px;
    }

    hr {
        margin: 25px 0px;

    }

    .enlaces {
        flex-direction: column;
        align-items: center;
    }

    .enlace {
        flex-direction: column;
    }

   
}
